* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    
}
.container{
    background-color: aqua;
    background-color: blueviolet;
    height: 70vh;
    width: 70%;
    display: flex;
    
    
    
}
.text-cont{

    
    color: white;
    width: 50%;
    font-size: .45em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;


}
.img-cont{
    background-color: blanchedalmond;
    height: 100%;
    width: 50%;
}

 h1{
    margin-bottom: 10px;
 }


.stat{
   display: flex;
   gap: 20px;
}

.img-cont>img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;

}